@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

@import "tailwindcss";

* {
  font-family: "Titillium Web", sans-serif !important;
}

body {
  background-color: #f8f9fa;
  color: #111;
}

@keyframes subtle-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: subtle-gradient 4s ease infinite;
}